<section>
    <div class="container ">

        <div class="col-md-4 mx-auto">
            <div class="text-center fs-1" style="ba">Add new stock count</div>


            <form action="/admin/add-stock" method="post">


                <div class="mt-2">


                    <input type="number" name="Stock" class="form-control" value="{{product.Stock}}">

                </div>
                <button type="submit" class="btn btn-success mt-3 ">Submit</button>
            </form>
        </div>
    </div>


</section>