<section class="">

  <div>

    <div class="container mt-4 mx-auto d-flex ">

      <div class="col-md-6 mx-auto">
        <div class="text-center fs-1" style="ba">Add New Category</div>


        <form class="mt-4" action="/admin/add-newcategory" method="post">
          <div>
            <label for="">Name</label>
            <input type="text" name="categoryName" class="form-control">
          </div>
          <div>
            <button type="submit" class="btn btn-success mt-4 ">Submit</button>
          </div>
        </form>
      </div>




    </div>
  </div>


</section>