<section>
  <div class="container mt-4 mx-auto">

    <div class="col-md-6 mx-auto">
      <div class="text-center fs-1" style="ba">Add New Brand</div>


      <form class="mt-4" action="/admin/add-brands" method="post">
        <label for="">Name</label>
        <input type="text" name="brand" class="form-control">
        <button type="submit" class="btn btn-success mt-4 ">Submit</button>
      </form>
    </div>




  </div>


</section>