<section>
  <div class="container mt-4 mx-auto d-flex">

    <div class="col-md-6 mx-auto">
      <div class="text-center fs-1" style="ba">Add New SubCategory</div>
      <form class="mt-4" action="/admin/add-subcategory" method="post">
        <label for="">subcategory</label>
        <input type="text" name="subCategoryName" class="form-control">
        <button type="submit" class="btn btn-success mt-4 ">Submit</button>
      </form>
    </div>




  </div>


</section>