<section>
  <div class="container mt-4">

    <div class="col-md-6">
      <div class="text-center">Add Banner</div>


      <form action="/admin/add-banne" method="post" enctype="multipart/form-data">
        <label for="">Banner Name</label>
        <input type="text" name="NAME" class="form-control ">

        <label class="mt-3" for="">Discription</label>
        <input type="text" name="DISCRIPTION" class="form-control">

        <label class="mt-3" for="">Caption</label>
        <input type="text" name="caption" class="form-control">


        <label class="mt-3" for="">Banner Image</label>
        <input type="file" name="Images" class="form-control">

        <button type="submit" class="btn btn-success mt-5">Submit</button>
      </form>
    </div>




  </div>


</section>