<section class="d-flex">
    <div class="container mt-4 mx-auto">

        <div class="col-md-4 mx-auto">
            <div class="text-center fs-1" style="ba">Change offer %</div>


            <form class="mt-4" action="/admin/change-CategoryOfferpercentage" method="post">
                <label for="">Enter %</label>
                <input type="text" name="pecentage" class="form-control">
                <button type="submit" class="btn btn-success mt-4 ">Submit</button>
            </form>
        </div>




    </div>


</section>