<header>
  <nav class="navbar navbar-expand-lg " style="background-color:  rgba(172, 162, 162, 0.77)">
    <div class="container-fluid">
      <a class="navbar-brand text-dark fs-5" href="">Fashion Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/admin/dashBoard"><i class="fi fi-rr-dashboard pr-2 mt-2"></i>Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active ml-3" aria-current="page" href="/admin/view-products"><i class="fi fi-rr-boxes pr-2"></i>Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active ml-3" aria-current="page" href="/admin/view-users"><i class="fi fi-rs-users-alt pr-2"></i>Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-3" href="/admin/orders"> <i class="fi fi-rr-apps-sort pr-2"></i>Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ml-3" aria-current="page" href="/admin/banner"><i class="fi fi-rr-picture pr-2"></i>Baner</a>
          </li>
          <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false"><i class="fi fi-rs-folder-tree pr-2"></i>Category

            </a>
            <ul class="dropdown-menu ml-3" aria-labelledby="navbarDropdown">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/product-categories">Category</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link active" aria-current="page" href="/admin/view-subCategories">SubCategory</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link active" aria-current="page" href="/admin/brand">brand</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/aa">admin</a>
              </li> --}}
              <hr class="dropdown-divider" />
          </li>

        </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fi fi-rs-badge-percent pr-2"></i>Offer

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/Coupen-code">Coupen Code</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/view-subCategories"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/category-offer">Category offer</a>
            </li>
            <hr class="dropdown-divider" />
        </li>
        </li>
        </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fi fi-rs-mobile pr-2"></i>Sales report

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/dailySales">Daily report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/monthlySales">Monthly report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/yearlySales">Yearly report</a>
            </li>
            <hr class="dropdown-divider" />
        </li>


      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
        </button>
        <ul class="dropdown-menu">


          {{#if admin}}
          <a class="nav-link" href="/admin/logout">Logout</a>

          {{else}}
          <a class="nav-link" href="/login">
            <button class="btn btn-secondary" type="button"></button>
          </a>
          {{/if}}
          </button></li>

        </ul>
      </div>
    </div>
  </nav>
</header>