<section>
  <div class="row">
    <div class="col-md-4 m-auto">
      <div class="container mt-5 pl-5">

        <div class="text-center font-weight-bold fs-3 ">Change Password</div>


        <form action="/changePassword" method="post">
          {{#if pssErr}}
          <p class="error" style="color: red;">Old Password is Incorrect, Please Re-enter</p>
          {{/if}}
          <div class="form-group">



            <div class="form-group mt-2">
              <label for="">Old Password</label>
              <input type="password" name="oldPassword" id="Password" onkeyup="validatePassword()" class="form-control"
                placeholder="Old Password" required>
              <span id="password-error" class="text-danger my-auto"></span>

            </div>



            <div class="form-group mt-2">
              <label for="">New Password</label>
              <input type="password" name="newPassword" id="Password" onkeyup="validatePassword()" class="form-control"
                placeholder="New Password" required>
              <span id="password-error" class="text-danger my-auto"></span>

            </div>


            <div class="form-group mt-2">
              <label for="">Confirm Password</label>
              <input type="password" name="" id="ConfirmPassword" onkeyup="validateConfirmPassword()"
                class="form-control" placeholder="Confirm Password" required>
              <span id="confirmPassword-error" class="text-danger my-auto"></span>

            </div>

            <button type="submit" class="btn btn-dark   mt-3">
              Change

            </button>
            <br>
        </form>
      </div>

    </div>
  </div>

  </div>
</section>

<script>
  var passwordError = document.getElementById('password-error-user')
  var confirmPasswordError = document.getElementById('confirmPassword-error-user')

  function validatePassworduser() {
    var password = document.getElementById('Password').value;

    if (password.length == 0) {
      passwordError.innerHTML = "New Password is required";
      return false;

    }
    if (password.length < 3) {
      passwordError.innerHTML = "Password must be atleast 3 characters ";
      return false;
    }

    passwordError.innerHTML = ''
    return true

  }
  function validateConfirmPassworduser() {
    var password = document.getElementById('Password').value
    var confirmPassword = document.getElementById('ConfirmPassword').value
    if (password != confirmPassword) {
      confirmPasswordError.innerHTML = "Please enter same password"
      return false
    }
    confirmPasswordError.innerHTML = ''
    return true
  }

</script>