{{!-- <section>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">

            <div class="text-center fs-3">Enter OTP</div>


            <form action="/mobile-otp" method="post">
                {{#if loginErr3}}
                <p class="error  " style="color: red;">Invalid OTP, Plese Re-Enter</p>
                {{/if}}

                <div class="form-group">

                    <label for=""></label>
                    <input type="text" name="otp" class="form-control mt-3">
                </div>



                <button type="submit" class="btn btn-Primary   mt-5" style="margin-left: 240px;">
                    submit

                </button>
                <br>




            </form>
        </div>

    </div>
</div>

</div>
</section>
 --}}
