<section>
    <div class="row">

        <div class="container mt-5 pl-5">

            <div class="text-center font-weight-bold fs-3 ">Order-Placed</div>
            <div style="padding-left: 45%;" class="pt-4"><a href="/orders"><button class=" btn btn-success ">view
                        orders</button></a></div>


        </div>



    </div>
</section>